<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"> <!-- Se agrega esto para poder usar thymeleaf-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>  <!-- th:text=${variable}  esta es la manera de llamar al mapeo-->
</head>
<body>
    <h1 th:text="${title}"></h1>
    <ul>
        <li th:text="${user.name}"></li>   <!-- No esta accediendo directamente a la clase, si no al metodo getName y getLastname implicitamente aunque sean private-->
        <li th:text="${user.lastname}"></li>
        <li th:if="${user.email}" th:text="${user.email}"></li> <!-- Por defecto evalua si es nulo "!= null" en la condicion po rlo ques epuede omitir-->
        <li th:if="${user.email == null}" th:text="${'No tiene email'}"></li> 
 <!--   <li th:text="${name}"></li> 
        <li th:text="${lastname}"></li>-->
    </ul>

    <a th:href="@{/list}">Ver listado</a><br>
    <a th:href="@{/api/params/foo?message=Hola como estan}">Ver mensaje inyectado en foo</a><br>
    <a th:href="@{'/api/params/foo?message='+ ${title}}">Ver mensaje concatenado en foo</a><br>   <!-- CONCATENANDO CON VARIABLE-->
    <a th:href="@{/api/params/foo(message='Esta es otra manera')}">Ver mensaje inyectado 2 foo</a><br>   <!-- Entre parentesis-->
    <a th:href="@{/api/params/bar(text='Con 2 parametros', code=988)}">Ver mensaje inyectado en bar</a><br>   <!-- Con dos parametros-->
    <a th:href="@{/api/var/baz/Algun mensaje}">Ver mensaje path variable</a><br>   <!-- con path variable-->
    <a th:href="@{'/api/var/baz/' + ${title}}">Ver mensaje path variable con variable</a><br>   <!-- Path variable con variable-->
    <a th:href="@{'/api/var/baz/' + 'Aprendiendo con thymeleaf'}">Ver mensaje path variable con string</a><br>   <!-- Path variable con variable-->

    
</body>
</html>